<!DOCTYPE html>
<html>
<head>
  <title>Plant Doc</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
  <h1>Plant Doc</h1>
  <form method="POST" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" capture="environment" required>
    <button type="submit">Diagnose</button>
  </form>

  {% if disease %}
    <h2>Prediction: {{ disease }}</h2>
    <p><strong>Advice:</strong> {{ advice }}</p>
    <p><strong>Care Tips:</strong> {{ tips }}</p>
  {% endif %}
</body>
</html>
